.hero {
  background-image: url('../public/codingImage1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

.about {
  background-color: #f2f2f2;
  padding: 4rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.navbar {
  background-color: #f2f2f2;
  padding: 1rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a:hover {
  color: #000;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  background-color: #f2f2f2;
  padding: 2rem;
}

.screenshots img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.contact {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}

.contact-info {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.contact-info p {
  margin-bottom: 1rem;
  color: #555;
}

.contact-info a {
  color: #007bff;
}

.contact-info a:hover {
  text-decoration: underline;
}
